.gridView .outer-grid {
   display: flex;
   flex-wrap: wrap;
   padding: 0 4px;
}


#frontBoxTab .gridView .inner-grid {
   padding: 0 0px;
   display: contents;
}

.gridView .inner-grid {
   flex: 20%;
   padding: 0 4px;
}

.gridView .inner-grid img {
   margin-top: 8px;
   /* width: 100%; */
   /* padding: 10px; */
}


@media screen and (max-width: 800px) {
   .gridView .inner-grid {
      flex: 50%;
      max-width: 50%;
   }
}

@media screen and (max-width: 600px) {
   .gridView .inner-grid {
      flex: 100%;
      max-width: 100%;
   }
}