body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

}


.scene {
    width: 100%;
    height: 62vh;
    margin-top: 2% !important;
}


#conatiner_box {
    position: relative;
}



.top-bar {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 30px;
    /* Adjusted height for better visibility */
    padding: 0 20px;
    /* Added padding for spacing */
}

/* Additional styles for the icons and buttons would go here */


.top-bar h4 {
    margin: 0;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.wishlist_btn,
.cart_btn,
.login_btn {
    display: flex;
    margin-right: 43px;
    /* margin: 5px;
    padding: 10px; */
}

.top-bar i {
    padding-right: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.top_right {
    display: inline-flex;
}


/**********************************dropdown***********/


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}


.dropdown {
    display: flex;
}

.dropdown-content {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1001;
    width: 97%;
    top: 100%;
    /* display: none; */
    /* display: block; */
    /* left: 25px; */
    /* z-index: -1; */
    /* top: 25px;
}

.dropdown-content li {
    border-top-color: white !important;

}

.dropdown ul {
    padding-left: 0;
    width: 150px;
    background-color: white;
    background: white;
    margin-top: 15px;
    /* border: 1px solid gray; */
}

.dropdown ul li {
    border-radius: 0% !important;
    background-color: white !important;
    padding: 8px !important;
    border: 1px solid gray;
    color: none;
}

.dropdown .dropdown-content ul li {
    display: block !important;
    padding: 0;
    background-color: white;

}

.dropdown .dropdown-content img {
    display: inline;
    /* height: 68px; */
    background-color: white;
    /* display: flex; */
    padding: 5px;
    width: 65%;
    /* border-bottom: 1px solid #cccccc; */
}

.logo_container .igreenlogo {
    width: 76px !important;
}

.logo_container .Osixlogo {
    width: 85px !important;
    margin-top: 7px;
}

.logo_container .gvlogo {
    width: 165px !important;
    /* padding: 6px; */
    padding-top: 19px;
    margin-top: 7px;

}

.logo_container {
    border-bottom: 1px solid #cccccc;
    height: 50px;
}

.dropdown-content img {
    width: 100px;
}

/*******************************/

#navTab span {
    margin-right: 8px;
}

.stepBystep {
    width: 20px;
    height: 18px;
    background: #888;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
    margin-top: 0;
    padding-top: 0;
    border-radius: 50%;
}


.active .stepBystep {
    background-color: #037b3f;
    color: #fff;
}

.customized_tabs .dropdown-content ul li {
    background-color: white !important;
}

.customized_tabs>ul:nth-child() {
    display: block;
    background: white;
    border: 1px solid #aaa;
    padding: 0;
    height: 35px;
    margin-top: 0;
    /* padding-top: 5px; */
    /* max-width: 100%; */
    /* width: 65%; */
    border-radius: 25px;
    /* margin: 15px; */

}


.dropdown {
    /* display: block; */
    background: white;
    border: 1px solid #aaa;
    padding: 0;
    height: 35px;
    margin-top: 0;
    /* padding-top: 5px; */
    /* max-width: 100%; */
    /* width: 65%; */
    border-radius: 25px;
    /* margin: 15px; */

}

.customized_tabs ul li:hover {
    background-color: #bbb;
    /* color: green; */
    cursor: pointer;
    border-radius: 25px;
    transition: 0.5s ease;
}

.customized_tabs ul {
    margin: 0 !important;
    /* padding-left: 0; */
    height: 23px;
    /* border: 1px solid #aaa; */
    border-left: none;
    border-right: none;
    padding-left: 0;
    text-align: center;
    display: flex;
    background: #ffffff;

}

.customized_tabs ul li {
    position: relative;
    flex: 1;
    list-style: none;
    color: black;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    background: #ccc;
    border-radius: 25px;

}

hr {
    margin: 0;
}

.customized_tabs .active,
.dropdown .active {
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 25px;
    border: 1px solid #999;
}

.customized_tabs li,
.dropdown li {
    display: inline-block;
    padding: 10px;
    /* background-color: lightgray; */
    cursor: pointer;
}


.feature_boxes {
    border-top-left-radius: 15px;
    /* box-shadow: 0px -1px 4px 3px green; */
    background-color: #ccc;
}

/* .feature_boxes .feature_box {
    /* display: none; */
/* font-size: 35px; */


/* .feature_boxes span {
    color: Red;
} */

.left_bottom {
    /* width: 65%; */
    /* background: #ddd; */
    display: flex;
    justify-content: space-between;
    /* padding: 10px;
    margin-bottom: 20px; */
}

.iGreen_Logo img {
    width: 125px;
}

.main_container {
    display: flex;
    max-width: 100%;
    margin-top: 20px;
}

.left_screen {
    max-width: 60%;
    padding-left: 25px;
    width: 100%;
}


/******************/

.frame_list img {
    width: 145px;
    box-shadow: 3px 0px 5px 0px #888888;
    margin: 5px;
    background-color: white;
    padding: 3px;
    border-radius: 3px;
}

#colorBoxTab .outer-grid img {
    /* width: 145px; */
    box-shadow: 3px 0px 5px 0px #888888;
    /* margin: 5px; */
    background-color: white;
    padding: 3px;
    border-radius: 3px;
}

#colorBoxTab .outer-grid img.active {
    box-shadow: 3px 3px 5px 0px #037b3f;
}

.select_color img {
    width: 145px;
    box-shadow: 0px 5px 5px #888888;
    margin: 5px;
    background-color: white;
    padding: 7px;
    border-radius: 5px;
    display: grid;

}

.feature_box {
    display: grid;
    grid-template-columns: auto auto auto;

}

.frame_list {
    display: grid;
    grid-template-columns: auto auto auto;
    /* height: 600px; */
    overflow: scroll;
    overflow-x: hidden;
    background-color: #ccc;
}

/* .product_list img:hover {
    box-shadow: 0px 5px 5px green;

} */
.inner-grid img:hover {
    box-shadow: 3px 3px 5px 0px #037b3f;

}

/* .inner-grid div:hover {
    box-shadow:0px 0px 5px 2px green;

} */


.select_color img:hover {
    box-shadow: 0px 5px 5px #037b3f;

}

/************************FRONTS SEARCH BOX******************/

#frontBoxTab .gridView .inner-grid img {
    height: 70px;
}


#frontTab,
/* #colorTab, */
#templesTab,
#lensesTab {
    display: grid;
    grid-template-columns: auto auto;

}

.colorBar {
    display: grid;
    grid-template-columns: auto auto;

}

.custom-input-box input {
    border: none;
}

.custom-input-box input:focus {
    outline: none;
}

/* #colorBoxTab #frontBox {
    display: contents !important;
} */

#colorBoxTab .gridView {
    margin-top: 28%;
    /*default*/
}

#colorBoxTab .gridView>div>h2#selectedColorsLabel[style*="display: block"] {
    margin-top: 36% !important;
    /* Applied when the content is active */
}

.search_tabs {
    /* display: grid; */
    /* color: #ffffff; */
    padding: 12px;
    /* border-radius: 5px; */
    border-top-left-radius: 15px;
    /* border-bottom: 1px solid #ffffff; */
    background-color: #ccc;

}

input[type="search"] {
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    font-size: 13px;
    border-radius: 5px;
}

.search_bar {
    position: relative;
    padding-right: 13px;
}

.search_bar input[type="search"] {
    padding-right: 30px;
    color: black !important;
}

::placeholder {
    color: black;


}

.search_bar i {
    position: absolute;
    top: 38%;
    right: 30px;
    font-size: 17px;

    transform: translateY(-50%);
}

#searchBar {
    background-repeat: no-repeat;
    background-position: 245px 9px;
    background-repeat: no-repeat;
    width: 100%;
    /* max-width: 95%; */
    border: 1px solid #ffffff;
    border-radius: 25px;
    margin-bottom: 12px;
    background-size: 15px;
    height: 30px;
    /* background-color: black; */
}



.type_tab button {
    background-color: white;
    color: #037b3f;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
}

.type_tab button.active {
    background-color: #aaa;
    color: #037b3f;
    margin: 3px;
}

/* .type_tab button#eyeglasses.active {
    background-color: white;
    color: green;
    margin: 3px;
}
 */
.type_tab {
    display: none;
    border-radius: 25px;
    border: 1px solid #ffffff;
    height: 30px;
}

.type_tab button {
    padding: 0;
    margin: 3px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    border-radius: 5px;
    max-width: 100%;
    width: 100%;
    /* background-color: black; */
    color: #aaa;
    border: none;
    border-radius: 25px;
}

.size_tab label,
.fishing_tab label,
.material_type label,
.materials_colorlabel,
.finsh_type label,
.material_size label,
.engraving_type label {
    margin-right: 8px;
    padding: 5px 0;
    text-transform: uppercase;
    color: black;
}


.size_tab,
.fishing_tab,
.material_type,
.materials_color,
.finsh_type,
.material_size {
    height: 38px;
    padding-right: 13px;
}

.size_btn button,
.finishing_type button,
.material_list button,
.material_cold button,
.finsh_list button,
.size_number button,
.plastic_size button,
.engraving_sides button {
    border: 3px solid #000000;
    background: none;
    color: #aaa;
    border: none;
    font-size: 13px;
    font-weight: 600;
    padding: 0 2px;
    border-radius: 25px;
    width: 100%;
    margin: 3px;
    background-color: white;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    justify-content: center;

}

.size_btn,
.finishing_type,
.material_list,
.material_cold,
.finsh_list,
.size_number,
.engraving_sides {
    border: 1px solid #ffffff;
    /* border: 1px solid #999; */
    border-radius: 25px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 30px;

}

.size_btn .active,
.finishing_type .active,
.material_list .active,
.material_cold .active,
.finsh_list .active,
.size_number .active,
.engraving_sides .active {
    background-color: #aaaa;
    color: #037b3f;
    font-weight: 600;
    font-size: 14px;
    border: none;
    margin: 3px;
}

/* .material_list .active{
    background-color: red;
} */


.fishing_tab label {
    margin-right: 3px;
}

.finishing_type button {
    padding: 0 5px;

}

.finishing_type {
    max-width: 195px;

}


.nose-pad {
    width: 100%;
}

.nose_tab label {
    white-space: nowrap;
    padding: 7px 0;
    margin-right: 10px;
    padding-left: 4px;
}




.inner-grid img.active {
    box-shadow: 3px 3px 5px 0px #037b3f;
}

/**********************Colors Tab CSS**********************/

.choose_color {
    padding: 2px;
    border-radius: 25px;
    position: relative;
    height: 30px;
    border: none;
    border: 1px solid white;
    text-align: center;
}


.choose_color ::placeholder {
    color: black;
    font-weight: 700;
}


.choose_color select {
    background-color: black;
    color: black;
    /* border: 1px solid #ccc; */
    border: none;
    width: 200px;
    position: relative;
    z-index: 1;
    padding-top: 2px;
    padding-left: 5px;
    font-size: 13px;
    font-weight: 700;
    /* margin-top: 6px; */
    appearance: none;
    /* Remove default arrow in modern browsers */
    background: none;
}

.choose_color i {
    position: absolute;
    top: 25%;
    right: 15px;
    color: white;
    font-size: 20px;
}

.choose_color select:focus {
    outline: none;
}

/******************************** temples CSS****************/
#templesTab button {
    text-transform: uppercase;
}

.material_type {
    margin-bottom: 12px;
}

.material_list,
.material_cold,
.finsh_list,
.size_number {
    max-width: 170px;
}

.material_cold {
    max-width: 130px;
}

.materials_color {
    justify-content: end;
}

.size_number {
    max-width: 100%;
}

.plastic {
    max-width: 211px;
}

.material_size {
    justify-content: center;
    padding-left: 15px;
}

/* 
#materialPlastic .active .material_cold,
.metal-Content {
    display: none;

} */

/* .finsh_list {
    max-width: 139px;
} */

/* .metal-Content{
    display: contents!important;
} */
/********************************ENGRAVING CSS ******************/

.image-container img {
    width: 300px;
    display: block;
    margin: auto;
    /* padding: 10px 0; */
}

.engarving-container {
    text-align: center;
    /* background-color: #fff; */
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.image-container {
    position: relative;
    margin-top: 20px;
}

.text-overlay {

    position: absolute;
    top: 20%;
    left: 31%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    /* font-weight: bold; */
    color: #037b3f;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    rotate: 120ge;
    rotate: -17deg;
    text-transform: uppercase;
}

.engraving_sides {
    /* width: 25%; */
}

/* .engraving_sides {
    max-width: 349px;
    margin-left: 35px;
} */

/* .engraving_type {
    margin-bottom: 12px;
} */

.cutomed-name input[type="text"] {
    background-color: black;
    width: 100%;
    max-width: 65%;
    border: 1px solid white;
    border-radius: 25px;
    margin-left: 5px;
    padding-right: 30px;
    color: white !important;
    font-weight: 700;
    font-size: 13px;
    padding: 10px;
}

.cutomed-name label {
    white-space: nowrap;
    padding: 10px 0;
    margin-left: 20px;
}

.custom-name {
    display: flex;
    align-items: center;
}

.max-characters-label {
    display: block;
    margin-top: 4px;
    /* font-size: 10px; */
    color: gray;
    text-align: center;
    margin-left: 15px;
    padding-left: 250px;
}

#engravingTab p {
    font-size: 8px;
}


#svgFront,
#svgRight,
#svgLeft {
    width: 300px;
    display: block;
    margin: auto;
    height: 220px;
    padding-top: 25px;

}

/* #svgRight,
#svgLeft {
    padding-top: 15px;

} */

.engraving_sides .nose-pad {
    padding-bottom: 20px;
}

.semiColors {
    position: relative;
    padding-top: 10px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    box-shadow: -3px -3px 6px 0px #037b3f;
    border-top-left-radius: 15px;
}

.semiColors .custom {
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: 600;
    white-space: nowrap;
    padding-top: 10px;
    font-size: 16px;
}




.selfont {
    padding-top: 10px;
    white-space: nowrap;
    font-weight: 100;
}

#engravingBoxTab .gridView .inner-grid {
    height: 20px;
    /* width: 30px; */
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    flex: none;
}

#engravingBoxTab .gridView .inner-grid {
    flex: 12% !important;
    height: auto;

}

#engravingBoxTab .gridView .outer-grid {
    margin-top: 5px;

}

#engravingInside,
#engravingOut {
    background-color: #888888;
    color: white;
    border: none;
    padding: 4px 0;
    font-weight: 400;

}

#engravingInside {
    background-color: black;
    color: #037b3f;
    font-weight: 400;

}

/* #engravingBoxTab .gridView .inner-grid img {
    flex: 16%;
} */

#engravingBoxTab .gridView {
    margin-top: 12%;
    box-shadow: none !important;
    border-top-left-radius: 1px;
    /* box-shadow:  */
}



.custom_name input[type="text"] {
    /* margin-top: 15px; */
    width: 100%;
    /* max-width: 95%; */
    font-size: 15px;
    border: 1px solid black;
    border-radius: 25px;
    margin-bottom: 12px;
    background-size: 15px;
    height: 38px;
    padding: 10px;
    /* color:white; */
    /* background-color: ; */
    margin: 0 10px;
}

.custom_name {
    display: flex;
    padding-bottom: 20px;
    justify-content: space-evenly;
    width: 96%;
}

.semiColors p {
    font-size: 10px;
    position: absolute;
    top: 75%;
    left: 30%;
    color: #ccc;
}

.bold-arrow {
    font-weight: bold;
}

.custom_name ::placeholder {
    color: #ccc;


}

.custom_name {
    display: flex;
    /* flex-direction: column; */
}


.dots {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#engravingBoxTab .inner-grid div.active {
    box-shadow: 0px 0px 0px 3px #037b3f;
    /* border-radius: 15px; */

}

textPath {
    font-weight: 500;
}

.radio-button {
    display: inline-block;
    padding: 3px 20px;
    background-color: #888888;
    color: #ddd;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    /* margin: 5px; */
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-size: 12px;
}

.radio-button input[type="radio"] {
    display: none;
}

.radiogroup {
    margin-bottom: 20px;
}

/* .radio-button .active {
    background-color: black;
    color: green;
    font-size: 19px;
  } */
.radiogroup .active {
    background-color: black;
    color: #037b3f;
    font-weight: 600;

}

/************************Lenses***************/
#lensesBoxTab .inner-grid img {
    border-radius: 50%;
}


.Lenses-container .Lenses-shade {
    position: relative;
}



#lensesBoxTab .inner-grid .reflections-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}




/***********************************************/
.right_bar {
    position: relative;
    box-shadow: -2px -2px 4px 1px #037b3f;
    background-color: black;
    height: auto;
    max-width: 35%;
    width: 100%;
    margin-left: 5%;
    /* padding-top: 13px; */
    border-top-left-radius: 15px;
    /* padding-left: 10px; */
}

.arrow button {
    position: absolute;
    left: -35px;
    top: 50%;
    font-size: 50px;
}

/*****************footer**************/
.AddCart_btn button {
    padding: 10px;
    /* margin-right: 15px; */
    /* background: #ddd; */
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
}

.shotIcons button {
    border: none;
    font-size: 25px;
    background: none;
    margin: 10px;
}

.shotIcons button i {
    color: rgba(0, 0, 0, 0.5);
}

.locator_btn i {
    color: #037b3f;
}



.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 95px;
    background-color: #ddd;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 115%;
    margin-left: -60px;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.share-box {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.share-box ::placeholder {
    color: black;
}


.share-box input,
textarea {
    color: #037b3f;
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    font-size: 16px;
    letter-spacing: normal;
    max-width: 100%;
    text-align: left;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}

.share-box input:focus,
textarea:focus {
    outline: none;
    border-color: #037b3f;
    /* border-width: medium medium 2px; */

}

.share-content .floating-label {
    position: absolute;
    pointer-events: none;
    top: 0px;
    left: 10px;
    transition: 0.2s ease all;
}



.share-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 5px;
    height: 65vh;
}

.mailBox {
    display: grid;
    margin-top: 20px;
}

.mailBox input,
textarea {
    padding: 5px;
    /* margin: 5px; */
    margin-top: 25px;
}

.close_btn,
.Send {
    position: absolute;
    bottom: 0;
    right: 115px;
    top: 90%;
    text-transform: uppercase;
    color: #037b3f;
    cursor: pointer;
    /* background-color: rgba(0, 128, 0, 0.1); */


}

.close_btn:hover,
.Send:hover {

    font-weight: 600;
}

.Send {
    right: 40px;

}

.input-container {
    position: relative;
    margin-top: 30px;
    width: 100%;
    /* Set the width of the container */
    /* max-width: 400px; */
    /* Set a maximum width if needed */

}

.share-box textarea {
    /* Your existing textarea styles */
    width: 100%;
    box-sizing: border-box;
    resize: none;
    /* Prevent textarea from being resized */
}

.share-box ::placeholder {
    color: transparent;
    /* Hide the placeholder */
}

.floating-label {
    position: absolute;
    pointer-events: none;
    top: 18px;
    left: 20px;
    transition: 0.2s ease all;
    color: black;
    font-size: 14px;
    opacity: 0;
    transform: translateY(0);
}

.input-field:focus+.floating-label {
    opacity: 1;
    transform: translateY(-26px);
    color: #037b3f;
}

.input-field:not(:focus):placeholder-shown+.floating-label {
    opacity: 1;
    transform: translateY(0);
}







/******************************/

.theme_link img {
    width: 90px;
}

.leftSemi_bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
}


.rotate-button {
    rotate: 0deg;
}

.sidebar-container {
    position: relative;
}

/*sidebar styles
    /* width: 250px; */
/* ... */


/* .toggle-button {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: left 0.3s ease; 
} */



#toggleButton {
    display: block;
    position: absolute;
    top: 50%;
    left: -28px;
    rotate: 180deg;
    /* background: none!important; */
    /* border: 1px solid #ccc; */
    background-color: white;
    border: none;
    cursor: pointer;
    z-index: -1;
}

#toggleButton i {
    color: #037b3f;
    background: none !important;
    font-size: 28px;

}

/************************/

.content {
    max-height: 800px;
    overflow-y: visible;
}



#frontTab label {
    /* padding-right: 5px; */
    color: black;
}

#frontTab form {
    padding: 7px 3px;
}

.size_btn .second,
.size_btn .first {
    border-right: 1px solid #ffffff;

}






/* Rounded sliders */


.dropdown {
    position: relative;
}




/**************** pop up css ***************/