
.sidebarView{
    display: none;
}
.sidebarView.active{
    display: block;
}
.frame_list img.engravingtemple{
    width: 100%;
    box-shadow: none;
}
.gridView .outer-grid.NoEcoColor, .gridView .outer-grid.YesEcoColor{
    display: none;
}
.gridView .outer-grid.NoEcoColor.active, .gridView .outer-grid.YesEcoColor.active{
    display: flex;
}
.search_tabs{
    position: absolute;
    width: 100%;
}
.gridView{
    margin-top: 25%;
    background-color: white;
    border-top-left-radius: 15px;
    box-shadow: -1px -3px 4px 1px green;

    
}
#lensesBoxTab .gridView{
    margin-top: 10%;
}