<!--Include-Header-->
<%- include('partials/_header') %>

<!--SIDEBAR-->
<%- include('partials/_sidemenu') %>


<main class="main container" id="main">
   <!--=============== NAVIGATION ===============-->
   <%- include('partials/_navbar') %>

   <div class="scene model-class">

   </div>

</main>

<!--Include-Footer-->

<%- include('partials/_o-six_footer') %>