<div id="engravingBoxTab" class="sidebarView feature_boxes left_main_container">

    <!-----------------------------FRONT----------------------------------------------------->
    <div id="frontBox " class="feature_box frame_list content" style="display: block;">

        <div class="search_tabs">

            <div id="frontTab">

                <div class="search_bar">
                    <input type="search" id="searchBar" placeholder="Seach Models"><i
                        class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="type_tab" style="display: flex;">
                    <button id="eyeglasses" class="active" onclick="activateTab('eyeglasses')">Eyeglasses</button>
                    <button id="sunglasses" onclick="activateTab('sunglasses')">Sunglasses</button>
                </div>
                <div class="size_tab" style="display: flex;">
                    <label>SIZE</label>
                    <div class="size_btn">
                        <button class="active">45/49</button>
                        <button>52/54</button>
                        <button>51/52</button>

                    </div>
                </div>
                <div class="nose_tab" style="display: flex;">
                    <label>NOSE-PAD</label>
                    <div class="nose-pad type_tab" style="display: flex;">
                        <button id="eyeglasses" class="active">NO</button>
                        <button id="sunglasses">YES</button>

                    </div>

                </div>
            </div>

        </div>
        <div class="gridView" id="imageContainer">
            <img class="engravingtemple" src="/img/front-temples.jpeg" />

            <!-- <img src="/img/Colors/PL0987.jpg" alt="Image for 45/49"><img src="/img/IG4.161C.png"
                alt="Image for 45/49"><img src="/img/IG4.162C.png" alt="Image for 45/49"><img
                src="/img/IG4.165C.png" alt="Image for 45/49"><img src="/img/IG4.166C.png"
                alt="Image for 45/49"><img src="/img/Colors/PL0987.jpg" alt="Image for 45/49"> -->
            <div class="outer-grid">
                <div class="inner-grid">
                    <img src="/img/Colors/PL0987.jpg" />
                    <img src="/img/Colors/PL0987.jpg" />
                    <img src="/img/Colors/PL0987.jpg" />
                </div>
                <div class="inner-grid">
                    <img src="/img/Colors/PL0987.jpg" />
                    <img src="/img/Colors/PL0987.jpg" />
                    <img src="/img/Colors/PL0987.jpg" />
                </div>
                <div class="inner-grid">
                    <img src="/img/Colors/PL0987.jpg" />
                    <img src="/img/Colors/PL0987.jpg" />
                    <img src="/img/Colors/PL0987.jpg" />
                </div>

            </div>
        </div>
    </div>

</div>