<!--Footer-->

<footer class="footer-sec" id="footer">
<div class="frame container">
    <!-- <img src="" alt=""> -->
    <div class="left_bottom">
        <div class="iGreen_Logo">
            <img src="/img/logo.png" alt="">

        </div>
        <div class="AddCart_btn">
            <button>
                ADD TO CART
            </button>

        </div>

    </div>
    <hr>
    <div class="leftSemi_bottom">
        <div class="theme_link">
            <a href="">
                <img src="/img/Thema - Family Factory WEBSITE.png" alt="">
            </a>

        </div>
        <div class="shotIcons">
            <button>
                <i class="fa-solid fa-location-dot"></i>
            </button>
            <button onclick="window.print()">
                <i class="fa-solid fa-print"></i>
            </button>
            <button>
                <i class="fa-regular fa-heart"></i>

            </button>
            <button>
                <i class="fa-solid fa-share-nodes"></i> </button>
        </div>
    </div>
</div>
</footer>
<script src="/js/dummydata.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/sidebar.js"></script>
<script type="module" src="/js/module.js"></script>
<script  type="module"  src="/js/main.js"></script>
</body>
</html>