<div id="frontBoxTab" class="sidebarView feature_boxes left_main_container active">

    <!-----------------------------FRONT----------------------------------------------------->
    <div id="frontBox " class="feature_box frame_list content" style="display: block;">

        <div class="search_tabs">

            <div id="frontTab">

                <div class="search_bar">
                    <input type="search" id="searchBar" placeholder="Seach Models"><i
                        class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="type_tab osixText VG" style="display: flex;">
                    <button id="eyeglasses" class="active">Eyeglasses</button>
                    <button id="sunglasses">Sunglasses</button>
                </div>
                <div class="size_tab" style="display: flex;">
                    <label>SIZE</label>
                    <div class="size_btn osixText">
                        <button class="active">45/49</button>
                        <button>52/54</button>
                        <button>51/52</button>

                    </div>
                </div>
                <div class="nose_tab" style="display: flex;">
                    <label>NOSE-PAD</label>
                    <div class="nose-pad type_tab osixText" style="display: flex;">
                        <button id="" class="active">NO</button>
                        <button id="">YES</button>

                    </div>

                </div>
            </div>

        </div>
        <div class="gridView o-six" id="imageContainer">

            <div class="outer-grid">
                <div class="inner-grid">
                    <% if(articles != null) { %>
                    <% articles.forEach(function(article, index) { %>
                    <img src="https://storage.cloud.google.com/thema_bucket/3D-models/IGREENUSA/FRONT%20IMAGE/<%- article.SAP_model_code %>.png"
                        alt="<%- article.Code %>" data="0" />
                    <% }) %>
                    <% } else { %>
                    No posts found.
                    <% } %>
                </div>

            </div>
        </div>

    </div>

</div>