<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700&display=swap"
        rel="stylesheet">
      
    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles2.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/gridview.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    

    <title>Thema Application</title>
</head>

<body>
    <!--Header-->
    <!--=============== HEADER ===============-->
    <header class="header">
        <div class="header__container container top-bar">
            <div class="header__toggle" id="header-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="top_right">
                <div class="wishlist_btn">
                    <i class="fa-regular fa-heart"></i>
                    <h4>Wishlist</h4>
                </div>
                <div class="cart_btn">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <h4>Cart</h4>
                </div>
                <div class="login_btn">
                    <i class="fa-solid fa-user"></i>
                    <h4>Oscar Bettello</h4>
                </div>
            </div>
        </div>
    </header>