<div id="lensesBoxTab" class="sidebarView feature_boxes left_main_container">

    <!-----------------------------FRONT----------------------------------------------------->
    <div id="frontBox " class="feature_box frame_list content" style="display: block;">

        <div class="search_tabs osixText">

            <P>CHOOSE LENS COLOR</P>

        </div>
        <div class="gridView o-six" id="imageContainer">
            <div class="outer-grid Lenses-container">


                <!-------  <div class="inner-grid">
                    <div class="Lenses-shade">
                        <img class="reflections-img" src="img/Lenses/LENS_REFLECTIONS.png" alt="">
                    </div>
                    <img src="/img/Lenses/PRO0000769.png" />
                    <div class="Lenses-shade">
                        <img class="reflections-img" src="img/Lenses/LENS_REFLECTIONS.png" alt="">
                    </div>
                    <img src="/img/Lenses/PRO0000774.png" />
                    <div class="Lenses-shade">
                        <img class="reflections-img" src="img/Lenses/LENS_REFLECTIONS.png" alt="">
                    </div>
                    <img src="/img/Lenses/PRO0000896.png" />

                </div> -->




                <div class="outer-grid">
                    <div class="inner-grid">
                        <img src="/img/Lenses/PRO0000774.png" />
                        <img src="/img/Lenses/PRO0000767.png" />
                        <img src="/img/Lenses/PRO0000768.png" />

                    </div>
                    <div class="inner-grid">

                        <img src="/img/Lenses/PRO0000770.png" />
                        <img src="/img/Lenses/PRO0000771.png" />
                        <img src="/img/Lenses/PRO0000773.png" />

                    </div>
                    <div class="inner-grid">
                        <img src="/img/Lenses/PRO0000890.png" />
                        <img src="/img/Lenses/PRO0000891.png" />
                        <img src="/img/Lenses/PRO0000895.png" />

                    </div>
                    <div class="inner-grid">
                        <img src="/img/Lenses/PRO0000769.png" />
                        <img src="/img/Lenses/PRO0000774.png" />
                        <img src="/img/Lenses/PRO0000896.png" />

                    </div>

                </div>

            </div>
        </div>
    </div>

</div>