    <div id="navTab" class="customized_tabs">
        <ul>
            <li id="brandBtn" class="dropdown" style="height: auto;">Brands
                <div id="dropdownContainer" class="dropdown-content" style="display: none;">
                   <img src="/img/logo.png" alt=""
                                >
                    <img src="/img/OsixLogo.png" alt="">
                    <img src="/img/gvLogo.jpg" alt="">
                </div>
            </li>

            <li id='frontBoxTab' class='navigation active'>Front</li>
            <li id='colorBoxTab' class='navigation'>Color</li>
            <li id='templesBoxTab' class='navigation'>Temples</li>
            <li id='engravingBoxTab' class='navigation'>Engraving</li>
            <li id='lensesBoxTab' class='navigation' style="display: none;">Lenses</li>

        </ul>

        
    </div>