 <!--=============== SIDEBAR ===============-->
 <div class="sidebar" id="sidebar">
     <nav class="sidebar__container">
        <%- include('_front_view') %>
        <%- include('_color_view') %>
        <%- include('_temple_view') %>
        <%- include('_engraving_viewa') %>
     </nav>
     <button id="toggleButton"><i class="fa-solid fa-angles-left"></i></button>
 </div>